<h1 class="bg-black text-white text-center p-1" >Welcome to <%=@restaurant.name%></h1>

<div class="row">
  <div class="col-4">
    <h2 class="bg-secondary text-white text-center p-1">Informations:</h2>
      <p class="mb-0"><%=@restaurant.address%></p>
      <p class="mb-0"><%=@restaurant.phone_number%></p>
      <p class="mb-0 text-capitalize"><%=@restaurant.category%></p>
  </div>

  <div class="col-8">
    <h2 class="bg-secondary text-white text-center p-1">Reviews:</h2>
      <% @restaurant.reviews.each do |review| %>
      <p> <strong> <%= review.rating %> / 5 </strong>: <%= review.content %></p>
      <% end %>

    <%= render 'reviews/form', review: @review %>
  </div>
</div>
